{% extends "base.html" %}
{% load static %}
{% load chunks %}

{% block title %}О Компании{% endblock %}


{% block stylesheets %}	
	<link rel="stylesheet"  href="{% static 'siteagro/css/about.css' %}" />
{% endblock %}

{% block content %}
<section class="wrapper style1">
					<div class="container">
						<div id="content">

							<!-- Content -->

								<article class="about-company-article">
									<header>
										<h2>О компании</h2>										
									</header>

									<span class="image featured">
										<div class="img-wrapper">		
											<img class="about-company-img" src= '{% chunk "about_image" %}' alt="" />
										</div>
									</span>

									<p>{% chunk "about_title"%}</p>

									<h3>{% chunk "about_subheading" %}</h3>
									<p>{% chunk "about_about" %}</p>
								</article>

						</div>
					</div>
				</section>
{% endblock %}