{% extends "base.html" %}
{% load static %}
{% load chunks %}
<!--г.Суздаль, Владимирская обл.-->
{% block title %}Контакты{% endblock %}

{% block stylesheets %}	
	<link rel="stylesheet" href="{% static 'siteagro/css/contacts.css' %}" />
{% endblock %}

{% block content %}
				<section class="wrapper style1">
					<div class="container">
						<div id="content">

							<!-- Content -->

								<article class="about-company-article">
									<header>
										<h2>Контакты</h2>										
									</header>									

									<div class="container-fluid">
										<div class="map-col">
											<div class="map-wrapper">
												<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad30376a974e055a42f753de1754360edd4f7213ed22fe57efe9df4eb1686605f&amp;width=499&amp;height=347&amp;lang=ru_RU&amp;scroll=true"></script>
											</div>
										</div>
										<div class="contact-col">
											<address class="address-block">
												<p><strong>Адрес:</strong>  {% chunk "contact_adress" %}</p>
												<p><strong>Телефон:</strong> {% chunk "contact_number" %}</p>
												<p><strong>E-mail:</strong> <a href="#">{% chunk "contact_email" %}</a></p>
												<p><strong>Skype:</strong> <a href="#">{% chunk "contact_skype" %}</a></p>
											</address>
											<h3 class="how-to-come">Как проехать</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
										</div>
									</div>
								</article>

						</div>
					</div>
				</section>
{% endblock %}
