{%extends base.html%}

{% block title %}Главная страница{% endblock %}

{% block stylesheets %}	
	<link rel="stylesheet" href="{% static 'siteagro/css/index.css' %}" />
	<link rel="stylesheet" href="{% static 'siteagro/css/slick.css' %}" />
	<link rel="stylesheet" href="{% static 'siteagro/css/slick-theme.css' %}" />	
{% endblock %}

{% block content %}
	<section id="cta" class="wrapper style3">
					<div class="container">
						<header>
							<h2>Are you ready to continue your quest?</h2>
							<a href="#" class="button">Insert Coin</a>
						</header>
					</div>
				</section>
{% endblock %}

{% block footer %}

{% endblock %}