{% extends "base.html" %}
{% load static %}

{% block title %}Партнеры{% endblock %}

{% block stylesheets %}	
	<link rel="stylesheet" href="{% static 'siteagro/css/partners.css' %}" />
{% endblock %}

{% block content %}
	<section class="wrapper style1">
					<div class="container">
						<div id="content">

							<!-- Content -->

								<article class="about-company-article">
									<header>
										<h2>Партнеры</h2>										
									</header>									

									<div class="container-fluid">
 										<div>
   											{% for i in images %}
        										<img src="{{i.image.url}}" alt="">
    										{% endfor %}
    									</div>										
									</div>
								</article>
						</div>
						

					</div>
				</section>
{% endblock %}