{% extends "base.html" %}
{% load static %}

{% block title %}Услуги и цены{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{% static 'siteagro/css/index.css' %}" />
	<link rel="stylesheet" href="{% static 'siteagro/css/slick.css' %}" />
	<link rel="stylesheet" href="{% static 'siteagro/css/slick-theme.css' %}" />
{% endblock %}

{% block content %}
    {% for product in goods %}
        <div class="product">
            <h2>{{product.header}}</h2>
            <img src="{{product.image.url}}" alt="">
            <span>Цвет кожуры: {{product.kozhura}}</span><br>
        </div>
    {% endfor %}
{% endblock %}