.gallery-company-article .gallery-container {
  text-align: justify; }
  .gallery-company-article .gallery-container:after {
    display: inline-block;
    content: "";
    width: 100%; }
  .gallery-company-article .gallery-container .gallery-col {
    display: inline-block;
    width: 30%;
    height: 100px;
    text-align: center; }
    .gallery-company-article .gallery-container .gallery-col img {
      display: inline-block; }
    .gallery-company-article .gallery-container .gallery-col a:not(:first-child) {
      display: inline-block;
      margin-top: 45px; }
      .gallery-company-article .gallery-container .gallery-col a:not(:first-child):first-child {
        margin-top: 0px; }
